@import "tailwindcss";

*{
    /* outline: solid; */
}
body {
  font-family: 'Lato', sans-serif;
  color: #1E1E1E;
  z-index: 0;
  position: relative;
}
html{
    /* background: green; */
}


.checkbox {
  width: 20px;
  height: 20px;
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  border: solid 1px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: background 0.2s, border 0.2s;
}

.checkbox:checked {
  background-color: #22c55e; /* Tailwind green-500 */
  border-color: #22c55e;
}

.checkbox:checked::after {
  content: '\2713'; /* Unicode checkmark */
  background-color: #22c55e;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}